# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.lock
*.ipch
*.tlog
*.recipe
*.suo
*.db
/1.1 UDPServer&Client test/UDPClient/x64/Debug/UDPClient.ilk
*.log
*.pdb
*.txt
*.idb
*.ilk
*.enc
*.filters
*.user
/2.2 SendAllFrame/SendAllFrame/.vs/SendAllFrame/v17
/2.2 SendAllFrame/SendAllFrame/x64/Debug/moc
/2.2 SendAllFrame/SendAllFrame/x64/Debug
